data/g_data/*
data/vs_data/*
data/rivers/*
results/timeseries/*
results/rs_stations/*
figs_tabs/*
scripts/gauge_data_downloading/*
scripts/analyse_clean_results.py

*.pyc
__pycache__/
.ipynb_checkpoints/
.DS_Store # dla macOS
*.log
venv/
.idea/ # PyCharm