data/g_data/*
data/vs_data/*
data/rivers/*
results/timeseries/*
results/rs_stations/*

# Ogólne reguły Pythona (dobrze jest je zawsze mieć)
*.pyc
__pycache__/
.ipynb_checkpoints/
.DS_Store # dla macOS
*.log
venv/
.idea/ # PyCharm